In [1]:
import time
import pandas as pd

from selenium import webdriver
from selenium.webdriver.chrome.service import Service

from webdriver_manager.chrome import ChromeDriverManager

### Create driver

In [2]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [3]:
page_url = "https://www.wunderground.com/history/weekly/vn/tan-binh/VVTS/date/2022-9-10"
driver.get(page_url)

In [5]:
from selenium.webdriver.common.by import By

table = driver.find_element(By.XPATH, "//table[@aria-labelledby='History days']")

column_names = [i.text for i in table.find_elements(By.XPATH, './thead/tr/td')]

body = table.find_elements(By.XPATH, "./tbody/tr/td/table")

output = {}
for e, b in enumerate(body):
    column_name = column_names[e]
    sub_column_names = ([i.text for i in b.find_elements(By.XPATH, "./tr[1]/td")])
    values = [i.text.split() for i in b.find_elements(By.XPATH, "./tr[position() > 1]")]
    print(f"Table name: {column_name}")
    print(pd.DataFrame(values, columns=sub_column_names))

Table name: Time
  Sep
0   4
1   5
2   6
3   7
4   8
5   9
6  10
Table name: Temperature (°F)
  Max   Avg Min
0  90  82.6  77
1  91  82.6  77
2  90  81.8  77
3  84  78.9  77
4  88  81.5  77
5  93  84.5  77
6  93  85.5  79
Table name: Dew Point (°F)
  Max   Avg Min
0  79  76.4  73
1  79  76.0  73
2  79  76.2  73
3  77  75.5  73
4  77  74.4  72
5  79  75.8  73
6  79  77.0  73
Table name: Humidity (%)
   Max   Avg Min
0   94  82.7  66
1   94  82.0  62
2   94  84.6  59
3  100  90.3  74
4   94  80.5  62
5   94  76.7  55
6  100  77.1  52
Table name: Wind Speed (mph)
  Max  Avg Min
0  22  7.9   0
1  15  6.4   0
2  17  7.0   2
3  16  5.0   0
4  15  8.9   2
5  12  4.8   1
6  13  5.3   0
Table name: Pressure (in)
    Max   Avg   Min
0  29.8  29.7  29.7
1  29.8  29.7  29.7
2  29.8  29.7  29.6
3  29.8  29.8  29.7
4  29.9  29.8  29.7
5  29.9  29.8  29.7
6  29.8  29.8  29.7
Table name: Precipitation (in)
  Total
0  0.00
1  0.00
2  0.00
3  0.00
4  0.00
5  0.00
6  0.00